/* Global Styles */
body {
    background: linear-gradient(rgb(255, 255, 255), rgb(125, 240, 253)) no-repeat center center;
    background-size: cover;
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
header {
    background-color: #5ee0f7;
    padding: 20px;
}

.navbar-toggler {
    background-color: rgb(125, 178, 253); /* Couleur de fond du bouton */
    border: none; /* Supprimer la bordure */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); /* Couleur de l'icône */
}

.navbar-toggler:focus {
    outline: none; /* Supprimer la mise en surbrillance */
}


.carousel-item img {
    max-height: 300px; /* Ajustez la hauteur maximale selon vos besoins */
    margin: auto;
}

/* Main Content Styles */
main {
    margin: 2%;
}

/* Footer Styles */
footer {
    text-align: right;
    padding: 20px;
    background-color: #5ee0f7;
}

/* Titre principal */
h1 {
    text-align: center;
    margin-top: 0;
}

.card {
    border-radius: 5px;
    background: linear-gradient(rgb(255, 255, 255), rgb(125, 178, 253)) no-repeat center center;
    background-size: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}


.card-img-top {
    width: 100%;
    display: block;
    margin-top: 10px;
}

.card-body {
    padding: 20px;
}

.card-footer {
    text-align: right;
    padding: 10px 20px;
}

/* Logo Styles */
.logo {
    width: 50px;
    display: inline-block;
    margin-right: 10px;
}

/* Réseaux sociaux Styles */
.social_media {
    color: #333;
}

/* Taille des icônes des réseaux sociaux */
.linkedin,
.github,
.mail {
    width: 50px;
    vertical-align: middle;
    margin-right: 25px;
}
